/*
Name: Yao Huang
Date: July 4 2023
Section: 23S_CST7285_300
This is the CSS file of Assignment 1.
*/

html {
    height: 100%;
}

/* Style the header */
header {
    color: ghostwhite;
	font-family: "dance", cursive,"Helvetica Neue", Arial, sans-serif;
	background-color:#5fbdd0;
    width: 100%;
    position: relative;
	text-align: center; 
	padding: 30px;

}

/* Style the navigation */
header nav {
	display: flex;
    font-size: 25px;
	justify-content: center; /* Horizontally center the navigation items */
}


.header-list {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 40px;
	text-align: center; 
}

a:hover {
    color: #3369ff;
    text-decoration: underline;
}

/* Style the index page*/
.index-container > div {
    width: 100%;
}

.index-container {
	display: flex;
    justify-content: flex-start; /* Position the flex items at the beginning of the container */
    margin: 0 auto;
}

/*Set the middle section occupy 50%*/
.index-middle-section {
    flex: 2; /* Take up twice the amount of space compared to the other flex items*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Set the left section occupy 25%*/
.index-left-section {
    flex: 1; /* Take up an equal amount of space within the container as each other*/
	display: flex;
    flex-direction: column;
	justify-content: center;
}

/*Set the right section occupy 25%*/
.index-right-section {
    flex: 1; /* Take up an equal amount of space within the container as each other*/
	display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Style the sun gif small and in the middle */
.sun-image img {
  width: 30%;
  height: auto;
  margin: 0 auto; 
  display: block;
}

/* Style the interest picture */
.index-bottom-photo img {
  width: 400px;
  height: 400px;
}

/* Style the picture in the left section of the index page*/
.center-img {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%; 
}

.center-img img {
    max-width: 100%;
    max-height: 100%;
}

/* Style the body of the index page*/
body {
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;    
	overflow-x: hidden;

}

/* Set the left margin of the college names*/
.college-name {
  margin-left: 40px; 
}

.right-align {
    float: right;
}

.body-list {
	list-style-type: circle; /*Display a small circle as the marker before each list item.*/
}

h1 {
    font-size: 33px;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}


.header-a {
    color: rgb(254, 252, 252);
    text-decoration: none;
}

.header-a-selected {
    color:gray;
    text-decoration: none;
}

.header-a-selected:hover {
    color:gray;
    text-decoration: none;
}

.body-a {
    color: coral;
    text-decoration: none;
}

/* Set the style of the resume page */
.resume-body {
    margin: 0 15%; /* Set the margin*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.photo-container {
    margin-left: auto;
    margin-right: auto;
    width: 100px; 
    height: 100px; 
}

/* Style the picture of the resume page in the middle  */  
.circle-photo {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
}

.resume-h1 {
    text-align: center;
    margin-top: 0;
}

.resume-h2 {
    text-align: left;
    margin: 0;
}

.resume-h3 {
    text-align: left;
}

.horizontal-line1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0; /* Adjust the margin value to add spacing */
    border: none;
    height: 4px;
    background-color: #5fbdd0;
}

.horizontal-line2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    border: none;
    height: 2px;
    background-color: #5fbdd0;
}

/* Style the image of the Lab to the middle*/
.lab-image {
		text-align: center;
	}

.lab-image img {
		max-width: 50%;
	}


/* Style the date to the right*/
.with-date {
    display: flex;
    justify-content: space-between; /* Evenly distributes the child elements along the main axis*/
    margin-bottom: 10px;
}

/* Style the logos*/
.Googlelogo {
  width: 60px;
  height: 20px;
}

.HRBlogo {
  width: 110px;
  height: 20px;
}

.CAlogo {
  width: 30px;
  height: 20px;
}

.Shilogo {
  width: 20px;
  height: 20px;
}

.Alilogo {
  width: 150px;
  height: 30px;
}

/* Style the courses container*/
.course-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.course-form {
	background-color: #f7f7ea;
	border-radius: 5px;
	display: flex;
	justify-content: center; /* Distribute the child elements in the center */
    align-items: center; /* Center the content vertically */
    padding: 0 30px; /* Add horizontal spacing between the child elements */
}

.course-form input,
.course-form select,
.course-form button {
    margin-right: 20px; /* Add horizontal spacing between the form elements */
}

.course-form > div {
	display: flex;
	align-items: center;
	flex: 1; /* Take up an equal amount of space within the container*/
}

.input-field {
	font-size: 20px;
	width: 350px;
}

.input-field::placeholder {
  font-size: 20px;
}

.course-filter {
  font-size: 15px;
  padding: 6px 10px;
}

.course-button {
   background-color: #fbf8e7;
   font-size: 15px;
  padding: 8px 12px;
}

.course-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.course-block {
	border: 1px solid #e0ebf5;
	padding: 10px;
	text-align: center;
}

.course-block img {
	width: 200px;
	height: 250px;
}

/*Set the font size of the course description*/
.small-description {
    font-size: 13px; /* Set the font size to your desired smaller size */
}

/*style for footer---begin*/
footer {
    color:darkblue;
    text-align: center;
    background-color: #F9F7DE;
    margin-top: auto;
}

footer p {
    font-size: 20px;
}

.footer-a {
    text-decoration: none;
    margin-left: 20px;
}

footer a:hover {
    text-decoration: none;
}

.footer-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.footer-contact {
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

.footer-img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}